/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: 'Microsoft YaHei', 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
  color: black;
}

@media screen and (max-width: 768px) {
  body {
    -webkit-text-size-adjust: none;
    width: 100%;
  }
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }

h2, h3, h4 { margin: 1em 0; }

p {
    margin: 1em 0;
    font-size: 1em;
    line-height: 28px;
    word-spacing: 0.1em;
}

img {
  max-width: 100%;
}

blockquote {
  background-color: #e0e0e0;
  padding: 0.2em 0.7em;
  border-left: solid 5px #bdc3c7;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
}

.posts li {
  line-height: 1.75em;
  border-bottom: 1px dashed #ccc;
  padding: 0.7em 0;
}

.posts li:last-child {
  border-bottom: none;
}

a {
  color: inherit;
  transition: color 0.2s ease-out;
  text-decoration: none;
}

a:hover {
  color: #f39c12;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

@media screen and (max-width: 480px) {
  .posts span {
    display: none;
  }
}

/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

.container {
  text-align: left;
  padding: 3%;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.8);
}

@media screen and (max-width: 600px) {
  .container {
      box-shadow: none;
  }
}

.header {
  margin-bottom: 1em;
  border-bottom: 2px solid #ddd;
}

#navigator {
  display: block;
}

#navigator li {
  margin-right: 1.5em;
  padding-bottom: 0.5em;
  float: left;
  list-style-type: none;
  position: relative;
  top: 2px;
  border-bottom: 2px solid #ddd;
}

#navigator li:hover {
  border-bottom-color: #bbb;
}

#navigator li.active {
  border-bottom-color: black;
}

#navigator li a {
  color: #888;
  font-weight: bold;
  font-size: 1.2em;
}

#navigator li:hover a,
#navigator li.active a {
  color: black;
}

.meta {
  color: #aaa;
  margin-right: 1em;
}

.footer {
  font-size: 75%;
  color: #c7c7c7;
  margin: 1.5em 0;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
    margin-bottom: 2em;
    margin-top: 1em;
}

.post a {
  color: #f39c12;
}

.post a:hover {
  color: #d35400;
}

.post code {
    font-size: 0.9em;
    font-family: Monaco, Consolas, Monospace;
}

.post pre {
  background-color: #e0e0e0;
  padding: 0.7em;
  border-radius: 3px;
  overflow-x: auto;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post p code {
  background-color: #e0e0e0;
  padding: 0.1em 0.4em;
  display: inline-block;
  line-height: 20px;
  border-radius: 4px;
  margin: 0 0.2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.tag {
    margin-right: 0.2em;
}

.copyright {
}

.license {
    top: -3px;
    position: relative;
}

.mr5 {
  margin-right: 5px;
}