<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}" />

    <title>{{ page.title }}</title>

    <!-- favicon -->
    <link rel="icon" href="http://www.gravatar.com/avatar/a6f86f86b2c73df44b799a138c9ad3c9?s=16">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- utilities -->
    <script>
      fot = {}

      fot.navigate = function (name) {
        var nav = document.getElementById('navigator')

        if (name === 'life') {
          nav.children[0].classList.add('active')
        } else if (name === 'about') {
			    nav.children[2].classList.add('active')
			  } else if (name === 'tech') {
          nav.children[1].classList.add('active')
        } else {
          nav.children[0].classList.add('active')
        }
      }
    </script>
  </head>
  <body>
    <div class="container">

      <div class="header">
        <ul id="navigator">
          <li><a href="/">Life</a></li>
					<li><a href="/tech">Technic</a></li>
          <li><a href="/about">Readme</a></li>
          <div class="clear"></div>
        </ul>
      </div> <!-- end header -->

      {{ content }}

    </div> <!-- end container -->

    <div class="footer">&copy; 2012-<span id="current-year"></span> fuqcool</div>

		<script>
			var now = new Date()
      document.getElementById('current-year').innerHTML = now.getFullYear()
		</script>

  </body>
</html>
